.pikmin-container.rojo {
    color: red;
}

.pikmin-container.amarillo {
    color: goldenrod;
}

.pikmin-container.azul {
    color: deepskyblue;
}

.no-found {
    color: white;
    text-align: center;
    margin-top: 2rem;
}
