{% extends 'base.html.twig' %}
{% block title %}PIKMIN{% endblock %}
{% block body%}
        <h1>Ficha del contacto</h1>
            {% if contacto %}
                <ul>
                    <li><strong>{{ contacto.nombre }}</strong></li>
                    <li><strong>Color </strong>{{ contacto.color }}</li>
                </ul>
            {% else %}
                <h4>Contacto no encontrado</h4>
            {% endif %}
 {% endblock %}