{% extends 'base.html.twig' %}
{% block title %}PIKMIN{% endblock %}
{% block body%}
        <h1>Ficha del pikmin</h1>
            {% if pikmin %}
                <ul>
                    <li><strong>{{ pikmin.nombre }}</strong></li>
                    <li><strong>Color </strong>{{ pikmin.color }}</li>
                </ul>
            {% else %}
                <h4>Pikmin no encontrado</h4>
            {% endif %}
 {% endblock %}